<div class="auth-content">
  <h2>Home</h2>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae libero euismod est venenatis cursus. Vivamus orci turpis, malesuada quis pellentesque vitae, pellentesque nec urna. Sed dapibus neque ac felis tristique, ac tempus ipsum venenatis. Nullam vitae porttitor diam, vel mollis velit. Ut suscipit, tortor at vehicula varius, nisl leo imperdiet lacus, id tincidunt metus augue vitae est. Proin gravida sagittis libero nec venenatis. Nam lectus diam, convallis at varius in, tempor ac ligula. Pellentesque cursus erat in diam ornare blandit.
  </p>
</div>
